* {
  color: blueviolet;
  margin: 0%;
  padding: 0%;
}

.nav1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
}

.icono {
  width: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  padding: 8px;
  margin-top: 2%;
  width: 50%;
  height: 40px;
  background-color: blueviolet;
  color: white;
}

.imgLogo {
  width: 15%;
}
