* {
  color: blueviolet;
  margin: 0%;
  padding: 0%;
}

.navbar-default {
  background-color: cyan;
  border-color: blue;
}
.navbar-default .navbar-brand {
  color: blueviolet;
}

.title {
  padding-inline-start: 65%;
}
.icono {
  width: 40px;
}
.icon1 {
  width: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  padding: 8px;
  margin-top: 2%;
  width: 50%;
  height: 40px;
  background-color: blueviolet;
  color: white;
}

.imgLogo {
  width: 15%;
}
